.form {
  z-index: 9999;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.centerInt {
  position: absolute;
  height: 100vh;
  width: 80vw;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #252525;
  border-radius: 30px;
  font-family: "Ubuntu";
}

.close_int {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 1.5%;
  top: 2%;
}
.dot2_int {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 225, 14);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 4%;
  top: 2%;
}
.dot3_int {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 6.5%;
  top: 2%;
}

.esquerda {
  float: left;
  width: 50%;
  margin-top: 2%;
}

.h2_project{
  color: white;
  margin-top: 3%;
}

.h2_equipe{
  margin-top: 5%;
  color: white;
}

.h2_Ikigai{
  color: white;
  margin-bottom: 3%;
}

.parte1 {
  margin-top: -4%;
  font-size: 15px;
}

.parte1 form {
  color: white;
  float: left;
  width: 90%;
}

.inputProjeto {
  box-sizing: border-box;
  position: absolute;
  width: 29.7vw;
  height: 4vh;
  right: 55%;
  top: 6%;
  border: 2px solid #77216f;
  background-color: #252525;
  border-radius: 20px;
}

.parte1_2 {
  font-size: 20px;
}

.parte1_2 form {
  color: white;
  float: left;
  width: 90%;
}

.inputEquipe {
  box-sizing: border-box;
  position: absolute;
  width: 29.7vw;
  height: 4vh;
  right: 55%;
  top: 12%;
  border: 2px solid #77216f;
  background-color: #252525;
  border-radius: 20px;
}

.tabela1 {
  margin-top: 15%;
  float: center;
  width: 100vw;
}

.tabela1 .tituloDNA {
  margin-bottom: 1%;
  font-size: 25px;
  color: white;
}

.duvidaDNA_int {
  background-image: url("../../images/request\ \(1\).png");
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
  margin-left: -6%;
  margin-top: -70%;
  background-repeat: no-repeat;
}

.tabela1 table {
  text-align: center;
  background-color: #6c0277;
  border: 1px solid #6c0277;
  border-spacing: 0;
  border-radius: 15px;
  margin-bottom: 1%;
}

.tabela1 table td {
  height: 50%;
  border-bottom: 1px solid #6c0277;
  border-top: 1px solid #6c0277;
  width: 10vw;
  height: 5vh;
  background-color: #252525;
}

.tabela1 table input {
  background-color: #252525;
  border: none;
  border-color: #6c0277;
  color: white;
}

.tabela1 table td.tecnico {
  background-color: rgb(233, 31, 156);
}

.tabela1 table td.mercadologico {
  background-color: greenyellow;
}

.tabela1 table td.emocional {
  background-color: #0e78c9;
}

.tabela1 table td.resiliencia {
  background-color: orangered;
}

.tabela1 table td.integrador {
  background-color: blueviolet;
  border-radius: 0 0 0 15px;
}

.form .centerInt .esquerda .tabela1 table td.quarto-canto {
  border-radius: 0 0 15px 0;
}

.form .centerInt .esquerda .tabela1 table td input.quarto-canto {
  border-radius: 0 0 15px 0;
}

.duvidaIkigai_int {
  background-image: url("../../images/request\ \(1\).png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
  margin-right: 65%;
  margin-top: -38%;
}
.parte2 {
  float: left;
  width: 90%;
  color: white;
}

.parte2 form {
  font-size: 25px;
}

.parte2 textarea {
  font-size: 18px;
  margin-right: 10%;
  margin-top: -4.6%;
  background-color: #252525;
  border: 5px solid #6c0277;
  border-radius: 15px;
  color: white;
  width: 35vw;
  height: 14vh;
}

.direita {
  float: right;
  width: 40%;
  margin-top: 2%;
}

.dateInt {
  height: 4vh;
  width: 8vw;
  margin-top: -5%;
  margin-right: 0%;
  float: right;
  cursor: pointer;
  background-repeat: no-repeat;
}

.four_ps {
  color: white;
  background-color: #252525;
  border: 5px solid #6c0277;
  border-radius: 8px;
  padding: 20px;
  float: right;
  width: 50%;
  margin-top: 2%;
}

.tabela22 h2 {
  color: white;
  margin-left: 35%;
}

.tabela22 table tr {
  width: 10vw;
  height: 100%;
  text-align: left;
  padding: 10px;
}

.tabela22 input {
  width: 70%;
  height: 100%;
  border-bottom: 1px solid white;
  background-color: #252525;
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 10px;
}

.duvida3 {
  background-image: url("../../images/request\ \(1\).png");
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
  margin-right: -25%;
  margin-top: -4%;
  background-repeat: no-repeat;
}

.tabela3 h2 {
  color: white;
  margin-top: 30%;
  margin-left: 30%;
  float: right;
}

.tabela3 table {
  text-align: center;
  border: 5px solid #6c0277;
  border-radius: 15px;
  color: white;
  float: right;
  width: 50%;
  margin-right: 10%;
  margin-top: 10%;
  padding: 0;
  border-spacing: 0;
}

.tabela3 table th {
  background-color: #6c0277;
}

.tabela3 table td {
  width: 100%;
  height: 30px;
  border: 1px solid black;
}

.tabela3 table input {
  width: 95%;
  height: 95%;
  border: 0;
  background-color: #252525;

  color: white;
}

.tabela3 table td.terceiro-canto {
  border-radius: 0 0 8px 0;
}

.tabela3 table td.quarto-canto {
  border-radius: 0 0 0 8px;
}

.duvida4 {
  background-image: url("../../images/request\ \(1\).png");
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
  margin-right: -22%;
  margin-top: -4%;
  background-repeat: no-repeat;
}

.feito {
  height: 6vh;
  width: 3vw;
  margin-top: 35%;
  margin-right: 0%;
  float: right;
  cursor: pointer;
  background-repeat: no-repeat;
}
