:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.Observacao2 .centerObs2 {
  background-color: var(--back_color);
  border-radius: 30px;
  position: absolute;
  width: 90%;
  height: 70%;
  margin: auto;
  margin-top: 5%;
  left: 5%;
}

.Observacao2 .psdoprojeto h2 {
  color: var(--font_color);
  position: absolute;
  top: 8%;
  left: 2%;
  text-align: left;
  margin: auto;
  margin-bottom: 5%;
}

.Observacao2 .psdoprojeto table {
  position: absolute;
  top: 14%;
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  border-radius: 8px;
  padding: 2%;
  width: 30%;
  float: left;
  margin-left: 4%;
}

.psdoprojeto table tr {
  width: 30%;
  height: 100%;
  text-align: left;
}

.psdoprojeto table td {
  padding: 5%;
}

.psdoprojeto input {
  width: 70%;
  height: 100%;
  border-bottom: 1px solid var(--font_color);
  background-color: var(--back_color);
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 2%;
}

.conceito table {
  width: 90%;
  margin: auto;
  border-spacing: 0;
  color: var(--font_color);
}

.conceito table th {
  background-color: #fb8218;
  border: 1px solid #fb8218;
}

.conceito .primeiro-canto {
  border-radius: 15px 0 0 0;
}

.conceito .segundo-canto {
  border-radius: 0 15px 0 0;
}

.conceito .terceiro-canto {
  border-radius: 0 0 15px 0;
}

.conceito .quarto-canto {
  border-radius: 0 0 0 15px;
}

.conceito table td {
  background-color: var(--back_color);
  border: 1px solid #fb8218;
}

.conceito table input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: none;
  width: auto;
  height: auto;
}

.conceito p {
  color: var(--font_color);
  position: relative;
  margin-bottom: 1.5%;
  font-size: 30px;
  text-align: center;
}

.close_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 2%;
  top: 2.6%;
}
.dot2_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ffc300;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 4%;
  top: 2.6%;
}
.dot3_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 6%;
  top: 2.6%;
}

.Single span {
  color: var(--font_color);
  font-size: 20px;
}

.Single1 input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  width: 30%;
  border-radius: 15px;
  margin-left: 2%;
}

.Single2 input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  width: 30%;
  border-radius: 15px;
  margin-left: 2%;
}

.Single3 input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  width: 30%;
  border-radius: 15px;
  margin-left: 2%;
}

.Single1 {
  color: var(--font_color);
  margin-top: 23%;
  margin-bottom: 1%;
  width: 60%;
}

.Single2 {
  color: var(--font_color);
  margin-bottom: 1%;
  width: 60%;
}

.Single3 {
  color: var(--font_color);
  margin-bottom: 4%;
  width: 60%;
}

.seta-esquerda_obs2 {
  background-image: url("../../images/seta-esquerda.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  top: 83%;
  float: left;
  cursor: pointer;
  margin-left: 6%;
}

.seta-direita_obs2 {
  background-image: url("../../images/seta-direita.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  float: right;
  cursor: pointer;
  margin-right: -1%;
}

.duvida3 {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: absolute;
  margin: auto;
  top: 8.9%;
  left: 22%;
  text-align: left;
}

.duvida4 {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: absolute;
  margin: auto;
  top: 64%;
  right: 44.7%;
  text-align: center;
}
