:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #77216f;
}
.centerObs2 {
  background-color: var(--back_color);
  border-radius: 30px;
  position: absolute;
  width: 90%;
  height: 75%;

  font-size: 20px;
  margin-top: 5%;
  left: 5%;
}

.psdoprojeto h2 {
  color: var(--font_color);
  position: absolute;
  top: 8%;
  left: 4%;
  text-align: left;
  margin: auto;
  bottom: 5%;
  font-size: 25px;
}

.psdoprojeto table {
  position: absolute;
  top: 14%;
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  border-radius: 8px;
  padding: 2%;
  width: 30%;
  float: left;
  margin-left: 4%;
}

.psdoprojeto table tr {
  width: 30%;
  height: 50%;
  text-align: left;
}

.psdoprojeto table td {
  padding: 5%;
}

.psdoprojeto input {
  width: 70%;
  height: 100%;
  border-bottom: 1px solid var(--font_color);
  background-color: var(--back_color);
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 2%;
}
.conceito h2 {
  margin-top: 25%;
  margin-left: -83%;
  text-align: left;
}

.conceito table {
  width: 90%;
  margin: auto;
  margin-top: 1%;
  border-spacing: 0;
  color: var(--font_color);
}

.conceito table th {
  background-color: #fb8218;
  border: 1px solid #fb8218;
}

.conceito .primeiro-canto {
  border-radius: 15px 0 0 0;
}

.conceito .segundo-canto {
  border-radius: 0 15px 0 0;
}

.conceito .terceiro-canto {
  border-radius: 0 0 15px 0;
}

.conceito .quarto-canto {
  border-radius: 0 0 0 15px;
}

.conceito table td {
  background-color: var(--back_color);
  border: 1px solid #fb8218;
}

.conceito table input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: none;
  width: 100%;
  height: 5vh;
}

.conceito h2 {
  color: var(--font_color);
  position: relative;
  bottom: 1.5%;
  font-size: 30px;
  text-align: center;
}

.close_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 2%;
  top: 2.6%;
}
.dot2_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ffc300;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 4%;
  top: 2.6%;
}
.dot3_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 6%;
  top: 2.6%;
}
.Relacionamento {
  margin-left: 45%;
  font-size: 22px;
  float: left;
}
.Relacionamento h2 {
  margin-top: 8%;
  text-align: left;
  font-size: 25px;
  margin-left: 2%;
}

.Single1 input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  width: 60%;
  height: 5vh;
  border-radius: 15px;
  margin-left: 98%;
  transform: translateY(-80%);
}

.Single2 input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  width: 60%;
  height: 5vh;
  border-radius: 15px;
  margin-left: 90%;
  transform: translateY(-80%);
}

.Single3 input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  width: 60%;
  height: 5vh;
  border-radius: 15px;
  margin-left: 95%;
  transform: translateY(-120%);
}

.Single1 {
  color: var(--font_color);
  margin-top: 3%;
  width: 70%;
}

.Single2 {
  color: var(--font_color);
  width: 70%;
  margin-left: -5.1%;
}

.Single3 {
  color: var(--font_color);
  width: 70%;
  margin-left: -1.3%;
}

.seta-esquerda_obs2 {
  background-image: url("../../images/seta-esquerda.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: 5%;
  float: left;
  cursor: pointer;
  margin-left: 6%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.seta-direita_obs2 {
  background-image: url("../../images/seta-direita.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: 5%;
  float: right;
  cursor: pointer;
  margin-right: -1%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.duvida_4ps {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: 4.5%;
  cursor: pointer;
  margin-left: 24%;
  margin-bottom: auto;
  margin-right: auto;
  text-align: left;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.duvida_conceito {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: absolute;
  margin: auto;
  top: 50vh;
  left: 13vw;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
  .Observacao2 p {
    font-size: 15px;
  }
  .psdoprojeto h2 {
    top: 8vh;
    font-size: 20px;
  }
  .duvida_4ps {
    margin-top: 0.5%;
    margin-left: 53%;
  }
  .psdoprojeto table {
    width: 90%;
    height: 25%;
    align-self: center;
  }
  .psdoprojeto table td {
    font-size: 15px;
  }
  .psdoprojeto table tr {
    width: 100%;
    height: 50%;
  }
  .psdoprojeto table input {
    height: 100%;
    width: 70%;
  }
  .Relacionamento {
    margin-top: 1000%;
  }
}
