:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.Observacao3 {
  height: 110vh;
}

.centerObs3 {
  position: absolute;
  width: 90%;
  height: 85%;
  background-color: var(--back_color);
  border-radius: 30px;
  color: var(--font_color);
  margin-top: 5%;
  margin-left: 5%;
}
.Modelo_obs3,
.Prototipo_obs3 {
  font-size: 30px;
  margin-top: 4%;
  margin-left: 5%;
}

.Observacao3 table {
  width: 80%;
  border-spacing: 0;
  color: var(--font_color);
  margin: auto;
  margin-top: 2%;
  height: 20vh;
}

.Observacao3 table th {
  background-color: #fb8218;
  border: 1px solid #fb8218;
  font-size: 20px;
}

.primeiro-canto {
  border-radius: 15px 0 0 0;
}

.segundo-canto {
  border-radius: 0 15px 0 0;
}

.terceiro-canto {
  border-radius: 0 0 15px 0;
}

.quarto-canto {
  border-radius: 0 0 0 15px;
}

.Observacao3 table td {
  background-color: var(--back_color);
  border: 1px solid #fb8218;
}

.Observacao3 table input {
  color: var(--font_color);
  background-color: var(--back_color) 25;
  border: none;
  width: 18vw;
  height: 7vh;
}

.seta-esquerda_obs3 {
  background-image: url("../../images/seta-esquerda.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: 4%;
  margin-left: 4%;
  float: left;
  cursor: pointer;
}

.Observacao-finalizada {
  background-image: url("../../images/check.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: 4%;
  float: right;
  cursor: pointer;
}

.duvida_modelo {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-top: -1.5%;
  left: 13%;
}

.duvida_prototipo {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-top: -1.5%;
  left: 15%;
}

@media screen and (max-width: 568px) {
  .Modelo_obs3,
  .Prototipo_obs3 {
    margin-top: 15%;
    font-size: 20px;
  }
  .Observacao3 {
    height: 100%;
  }
  .centerObs3 {
    margin-top: 15%;
    height: 80vh;
  }
  .Observacao3 table {
    margin-top: 5%;
  }
  .Observacao3 table input {
    width: 100%;
    font-size: 12px;
  }
  .Observacao3 tr th {
    font-size: 12px;
  }
  .duvida_modelo {
    margin-top: -6%;
    left: 30%;
  }
  .duvida_prototipo {
    margin-top: -6%;
    left: 35%;
  }
  .seta-esquerda_obs3 {
    width: 15%;
    height: 15%;
    margin-top: 20%;
    margin-left: 4%;
    cursor: pointer;
  }
  .Observacao-finalizada {
    width: 15%;
    height: 15%;
    margin-top: 20%;
    margin-right: 4%;
    cursor: pointer;
  }
}
