:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.centerObs1 {
  background-color: var(--back_color);
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 30px;
  margin: auto;
  margin-top: 5%;
  padding: 4%;
  left: 5%;
  overflow: hidden;
}

.benchmarking table {
  width: 0;
  border-spacing: 0;
  color: var(--font_color);
  margin: auto;
}

.benchmarking table th {
  background-color: #fb8218;
  border: 1px solid #fb8218;
  color: var(--font_color);
}

.benchmarking .primeiro-canto {
  border-radius: 15px 0 0 0;
}

.benchmarking .segundo-canto {
  border-radius: 0 15px 0 0;
}

.benchmarking .terceiro-canto {
  border-radius: 0 0 15px 0;
}

.benchmarking .quarto-canto {
  border-radius: 0 0 0 15px;
}

.benchmarking table td {
  background-color: var(--back_color);
  height: 5vh;
  border: 1px solid #fb8218;
}

.benchmarking table input {
  color: var(--font_color);
  background-color: var(--back_color);
  border: none;
  width: auto;
  height: 100%;
}

.benchmarking h2 {
  text-align: left;
  color: var(--font_color);
}

.benchmarking p {
  color: var(--font_color);
  margin: 0.5%;
  text-align: left;
}

.close_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 2%;
  top: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.dot2_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ffc300;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 4%;
  top: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.dot3_obs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 6%;
  top: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.setas {
  background-image: url("../../images/seta-direita.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: -2%;
  margin-right: -5%;
  float: right;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.duvida_benchmarking {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
  position: absolute;
  left: 15%;
  top: 9%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.duvida_perfis {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
  position: absolute;
  left: 20%;
  top: 63.8%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.perfil {
  margin-top: 0%;
}

.perfil h2 {
  color: var(--font_color);
  padding: 2%;
}

.dir {
  width: 50%;
  float: right;
}

.esq {
  width: 50%;
  float: left;
}

.perfil input {
  height: 5%;
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #fb8218;
  border-radius: 15px;
  width: 50%;
  margin: 1%;
  margin-top: -0.2vh;
  padding: 2%;
}
.txt-perfil {
  margin-left: -24vw;
  margin-top: -2vh;
  margin-bottom: 0.5vh;
  font-size: 18px;
}
.img-perfil {
  background-image: url("../../images/profile\ \(1\).png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 5%;
  height: 5%;
  margin-top: 0%;
  margin-left: 8%;
}

.crescendo {
  background-image: url("../../images/stats.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 5%;
  height: 5%;
  margin-top: 0%;
  margin-left: 8%;
}

.dores {
  background-image: url("../../images/remedio.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 5%;
  height: 5%;
  margin-top: 0%;
  margin-left: 8%;
}

@media screen and (max-width: 568px) {
  body {
    overflow: hidden;
  }
  .benchmarking {
    height: 105vh;
  }
  .centerObs1 {
    width: 90vw;
  }
  .close_obs,
  .dot2_obs,
  .dot3_obs {
    margin-top: -1vh;
  }
  .close_obs {
    margin-left: 2vw;
  }
  .dot2_obs {
    margin-left: 6.5vw;
  }
  .dot3_obs {
    margin-left: 11vw;
  }
  .benchmarking h2 {
    margin-top: 5vh;
  }
  .benchmarking p {
    margin-top: 2vh;
  }
  .concorrente table {
    margin-left: -4vw;
    width: 80vw;
  }
  .benchmarking table th {
    padding: 2px;
    font-size: 9px;
  }
  .benchmarking table td {
    width: 1vw;
  }
  .benchmarking table input {
    width: 100%;
    height: 100%;
  }
  .parceiro table {
    margin-left: -4vw;
    width: 90vw;
  }
  .parceiro table th {
    font-size: 10px;
    padding: 5px;
  }
  .duvida_benchmarking {
    margin-left: 22vw;
    margin-top: -1.5vh;
  }
  .txt-perfil {
    margin-top: 1vh;
    font-size: 12px;
  }

  .img-perfil,
  .dores,
  .crescendo {
    width: 8%;
    margin-left: 2%;
  }
  .perfil input {
    margin: 3%;
    margin-left: 25%;
    margin-top: 2%;
    width: 30vw;
  }
  .duvida_perfis {
    margin-left: 28vw;
    margin-top: 5vh;
  }
  .setas {
    width: 13%;
    margin-top: 10%;
    margin-right: 0%;
  }
}
