:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.Observacao3 .centerObs3 {
  width: 90%;
  background-color: var(--back_color);
  height: 80%;
  border-radius: 30px;
  margin: auto;
  color: var(--font_color);
}

.Observacao3 p {
  font-size: 30px;
  margin-top: 3%;
  margin-left: 3%;
}

.Observacao3 table {
  width: 80%;
  border-spacing: 0;
  color: var(--font_color);
  margin: auto;
  margin-top: 2%;
  height: 20vh;
}

.Observacao3 table th {
  background-color: #fb8218;
  border: 1px solid #fb8218;
  font-size: 20px;
}

.Observacao3 .primeiro-canto {
  border-radius: 15px 0 0 0;
}

.Observacao3 .segundo-canto {
  border-radius: 0 15px 0 0;
}

.Observacao3 .terceiro-canto {
  border-radius: 0 0 15px 0;
}

.Observacao3 .quarto-canto {
  border-radius: 0 0 0 15px;
}

.Observacao3 table td {
  background-color: var(--back_color);
  border: 1px solid #fb8218;
}

.Observacao3 table input {
  color: var(--font_color);
  background-color: var(--back_color)25;
  border: none;
  width: 18vw;
  height: 4vh;
}

.seta-esquerda_obs3 {
  background-image: url("../../images/seta-esquerda.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: 10%;
  margin-left: 4%;
  float: left;
  cursor: pointer;
}

.Observacao-finalizada {
  background-image: url("../../images/check.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 10%;
  margin-top: 10%;
  float: right;
  cursor: pointer;
}

.duvida5 {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: absolute;
  float: right;
  cursor: pointer;
  top: 6%;
  left: 14.7%;
}

.duvida6 {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  position: absolute;
  float: right;
  cursor: pointer;
  top: 34%;
  right: 83%;
}
