:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.areaAdm {
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 125%;
  background-color: rgba(0, 0, 0, 0.5);
}

.formAdm {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 6%;
  background-color: var(--back_color);
  border-radius: 30px;
  font-family: "Ubuntu";
}

.close_area1 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 1.5%;
  top: 2%;
}
.dot2_area1 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 225, 14);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 3.5%;
  top: 2%;
}
.dot3_area1 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 5.5%;
  top: 2%;
}

.titulo_area_adm {
  text-align: center;
  margin-top: 0%;
  font-size: 2.3vi;
  color: var(--font_color);
}

.duvidaAdm {
  background-image: url("../../images/request\ \(1\).png");
  width: 0.85vw;
  height: 1.8vh;
  float: right;
  cursor: pointer;
  position: absolute;
  left: 63.5%;
  top: 4%;
}

.formAdm table {
  width: 100%;
  border-spacing: 0;
  color: var(--font_color);
  margin-left: -1%;
  margin-top: 1vw;
}

.formAdm table th {
  background-color: #ff5e00;
  border: 1px solid #ff5e00;
}

.formAdm table td {
  background-color: var(--back_color);
  border: 1px solid #ff5e00;
}

.formAdm table td {
  background-color: var(--back_color);
  border: 1px solid #ff5e00;
}

.formAdm table input {
  background-color: var(--back_color);
  border: none;
}

.pergunta {
  font-size: 100%;
  min-width: 25vw;
  height: 10vh;
}

.opcao-select {
  width: 100%;
  padding: 25px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid var(--font_color);
  max-width: 20vw;
}

.opcao-select option {
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1%;
  margin-right: -5%;
  float: right;
  cursor: pointer;
}

.import-select {
  width: 100%;
  padding: 25px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid var(--font_color);
  max-width: 20vw;
}

.import-select option {
  padding: 5px;
}

.setaDireitaMaturidade {
  margin-top: 1%;
  float: right;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
