:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.areaMkt {
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.formMkt {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 6%;
  background-color: var(--back_color);
  border-radius: 30px;
}

.formMkt table {
  width: 100%;
  border-spacing: 0;
  color: var(--font_color);
  margin-left: 0%;
  margin-top: 1vw;
}

.formMkt table th {
  background-color: #ff5e00;
  border: 1px solid #ff5e00;
}

.formMkt table td {
  background-color: var(--back_color);
  border: 1px solid #ff5e00;
}

.formMkt table input {
  background-color: var(--back_color);
  border: none;
}

.formMkt table input {
  background-color: var(--back_color);
  border: none;
  width: auto;
}

.pergunta {
  font-size: 18px;
  min-width: 25vw;
  height: 10vh;
}

.opcao-select {
  width: 40vw;
  height: 10vh;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid var(--font_color);
 /* max-width: 20vw; */
}

.opcao-select option {
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1%;
  margin-right: -5%;
  float: right;
  cursor: pointer;
}

.import-select {
  width: 15vw;
  height: 10vh;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid var(--font_color);
  max-width: 20vw; 
}

.import-select option {
  padding: 5px;
}

.close_area4 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 1.5%;
  top: 2%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.dot2_area4 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 225, 14);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 3.5%;
  top: 2%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
.dot3_area4 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 5.5%;
  top: 2%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.titulo_maturidade_4 {
  text-align: center;
  margin-top: 0%;
  font-size: 2.3vi;
  color: var(--font_color);
}

.duvidaMkt {
  background-image: url("../../images/request\ \(1\).png");
  width: 0.85vw;
  height: 1.8vh;
  float: right;
  cursor: pointer;
  position: absolute;
  left: 57.5%;
  top: 3.5%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.setaEsquerdaMaturidade_4 {
  margin-top: 3%;
  float: left;
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  transform: rotate(180deg);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.setaDireitaMaturidade_4 {
  margin-top: 3%;
  float: right;
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 568px) {
  .areaMkt {
    height: 300vh;
  }
  .formMkt {
    margin-top: 15%;
  }
  .close_area4,
  .dot2_area4,
  .dot3_area4 {
    margin-top: -9%;
    height: 5vw;
    width: 5vw;
  }
  .close_area4 {
    margin-left: 3%;
  }
  .dot2_area4 {
    margin-left: 10%;
  }
  .dot3_area4 {
    margin-left: 17%;
  }
  .titulo_maturidade_4 {
    margin-top: 10%;
    font-size: 20px;
  }
  .formMkt table {
    margin-top: 5%;
    width: 100%;
  }
  .formMkt table th {
    font-size: 15px;
  }
  .formMkt table td,
  .opcao-select,
  .import-select {
    font-size: 12px;
  }
  .duvidaMkt {
    margin-top: -14%;
    margin-left: 20%;
    height: 4.1vw;
    width: 4.2vw;
  }
  .setaDireitaMaturidade_4,
  .setaEsquerdaMaturidade_4 {
    margin-top: 15%;
    margin-right: -5%;
    width: 17vw;
    height: 17vw;
  }
}