:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.areaRh {
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 140vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.formRh {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 6%;
  background-color: var(--back_color);
  border-radius: 30px;
}

.formRh table {
  width: 100%;
  border-spacing: 0;
  color: var(--font_color);
  margin-left: 0%;
  margin-top: 1vw;
}

.formRh table th {
  background-color: rgb(255, 94, 0);
  border: 1px solid rgb(255, 94, 0);
}

.formRh table td {
  background-color: var(--back_color);
  height: 6.5vh;
  border: 1px solid #fb8218;
}

.formRh table input {
  background-color: var(--back_color);
  border: none;
  width: auto;
}

.formRh table input {
  background-color: var(--back_color);
  border: none;
  width: auto;
}

.close_area2 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 1.5%;
  top: 2%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
.dot2_area2 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 225, 14);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 3.5%;
  top: 2%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
.dot3_area2 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 5.5%;
  top: 2%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.titulo_2_maturidade {
  text-align: center;
  margin-top: 0%;
  font-size: 36px;
  color: var(--font_color);
}

.duvidaRh {
  background-image: url("../../images/request\ \(1\).png");
  width: 0.85vw;
  height: 1.8vh;
  float: right;
  cursor: pointer;
  position: absolute;
  left: 65.5%;
  top: 3.5%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.setaEsquerdaMaturidade_2 {
  margin-top: 3%;
  float: left;
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  transform: rotate(180deg);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.setaDireitaMaturidade_2 {
  margin-top: 3%;
  float: right;
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 568px) {
  .areaRh {
    height: 270vh;
  }
  .formRh {
    margin-top: 15%;
  }
  .close_area2,
  .dot2_area2,
  .dot3_area2 {
    margin-top: -9%;
    height: 5vw;
    width: 5vw;
  }
  .close_area2 {
    margin-left: 3%;
  }
  .dot2_area2 {
    margin-left: 10%;
  }
  .dot3_area2 {
    margin-left: 17%;
  }
  .titulo_2_maturidade {
    margin-top: 10%;
    font-size: 20px;
  }
  .formRh table {
    margin-top: 5%;
    width: 100%;
  }
  .formRh table th {
    font-size: 15px;
  }
  .formRh table td {
    font-size: 12px;
  }
  .duvidaRh {
    margin-top: -4%;
    margin-left: 24%;
    height: 4.1vw;
    width: 4.2vw;
  }
  .setaDireitaMaturidade_2,
  .setaEsquerdaMaturidade_2 {
    margin-top: 15%;
    margin-right: -5%;
    width: 17vw;
    height: 17vw;
  }

  .setaEsquerdaMaturidade_2 {
    margin-top: 1%;
    float: left;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transform: rotate(180deg);
  }

  .setaDireitaMaturidade_2 {
    margin-top: 1%;
    float: right;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}
