*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.navbar{
    display: flex;
    background: #FF9000;
    height: 90px;
    color: white;
    z-index: 1;
}

.logo{
    width: 50%;
    float: left;
    padding: 30px 30px;
    font-size: 20px;
    /* background: #fff; */
}

.desktop{
    width: 50%;
    float: right;
}

.desktop ul{
    float: right;
}

.desktop ul li{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    list-style-type: none;
    padding: 10px 10px;
    font-size: 20px;
    transition: .5s;
    cursor: pointer;
    border-radius: 30px;
    background: #FF9000;
}

.desktop ul li:hover{
    background: white;
    color: #FF9000;
}

.sobre{
    display: inline-block;
    background-image: url('../../images/cerebro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
    position: relative;
    display: flex;
    align-items: center;
}

.sobre h2{
    text-align: center;
    margin: 50px;
    color: #FF9000;
    font-size: 50px;
    
}

.sobre p{
    text-align: justify;
    margin: 100px;
    font-size: 25px;
}





