.tut_body {
  height: 640vh;
  /* background-image: linear-gradient(#e95420, #77216f); */
  background-color: #fcdbc1;
}
.sol-bg-tut {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fcdbc1;
  z-index: 0;
  width: 100%;
  height: 1500px;
}

.sol-inv-tut {
  z-index: 100;
  position: absolute;
  background-color: #fcdbc1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.introducao {
  z-index: 1;
  top: 15%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.introducao h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.introducao p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_dna {
  z-index: 1;
  top: 90%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_dna h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_dna p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}
.tut_ikigai {
  z-index: 1;
  top: 120%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_ikigai h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_ikigai p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}
.tut_fourps {
  z-index: 1;
  top: 155%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_fourps h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_fourps p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}
.tut_sintese {
  z-index: 1;
  top: 190%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_sintese h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_sintese p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}
.tut_benchmaking {
  z-index: 1;
  top: 225%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_benchmaking h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_benchmaking p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_perfis_cliente {
  z-index: 1;
  top: 255%;
  left: 10%;
  width: 80%;
  position: absolute;
}

.tut_perfis_cliente h2 {
  color: #ff9000;
  margin-bottom: 1%;
}

.tut_perfis_cliente p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_proposta_valor {
  z-index: 1;
  top: 287%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_proposta_valor h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_proposta_valor p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_conceito {
  z-index: 1;
  top: 320%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_conceito h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_conceito p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_modelo {
  z-index: 1;
  top: 355%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_modelo h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_modelo p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_prototipo {
  z-index: 1;
  top: 385%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_prototipo h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_prototipo p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_analise_custo {
  z-index: 1;
  top: 415%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_analise_custo h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_analise_custo p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_analise_preco_diferenciais {
  z-index: 1;
  top: 450%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_analise_preco_diferenciais h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_analise_preco_diferenciais p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_melhorias {
  z-index: 1;
  top: 480%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_melhorias h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_melhorias p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_mvp {
  z-index: 1;
  top: 505%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_mvp h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_mvp p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_formacao_preco {
  z-index: 1;
  top: 535%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_formacao_preco h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_formacao_preco p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_digitalizacao {
  z-index: 1;
  top: 570%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_digitalizacao h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_digitalizacao p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}

.tut_canais_venda {
  z-index: 1;
  top: 595%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.tut_canais_venda h2 {
  color: #ff9000;
  margin-bottom: 1%;
}
.tut_canais_venda p {
  width: 90%;
  margin-left: 4%;
  color: #252525;
  font-size: 18px;
  text-align: justify;
}
