:root {
  --back_color: #fcdbc1;
  --font_color: #252525;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 110vh;
  background: linear-gradient(180deg, #e95420 0%, #77216f 100%);
  background-repeat: no-repeat;
  width: 100%;
}

.dark_select {
  position: relative;
  width: fit-content;
  height: fit-content;
  float: right;
  margin-top: 1%;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}
.dark_select input[type="checkbox"] {
  appearance: none;
  width: 4vw;
  height: 4vh;
  background-color: #fcdbc1;
  border-radius: 50px;
  position: center;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1%;
}
.dark_select input[type="checkbox"]::before {
  content: " ";
  position: center;
  background-color: #fcdbc1;
  border-radius: 50%;
  font-size: 15px;
  transition: 0.5s;
}
.dark_select input[type="checkbox"]::after {
  content: "🌚";
  position: relative;
  color: #34384b;
  font-size: 3.5vh;
  left: 0.3vh;
  transition: 0.5s;
}
.dark_select input[type="checkbox"]:checked {
  background: linear-gradient(91deg, #e95420, #77216f);
}
.dark_select input[type="checkbox"]:checked:before {
  background: #000;
  left: 70px;
}
.dark_select input[type="checkbox"]:checked::after {
  content: "🌞";
  font-size: 3.5vh;
  color: #fff;
  left: 4.5vh;
}
.btn_comousar {
  transform: translateY(15%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 9998; /* Certifique-se de que a camada de fundo esteja acima de outros elementos */
}

.clear {
  clear: both;
}

.container {
  width: 65vw;
  height: 65vh;
  position: absolute;
  margin-top: 25%;
  left: 50%;
  transform: translate(-50%, -45%);
  border: 50px solid var(--back_color);
  border-radius: 30px;
}

.rectangle {
  width: 100%;
  height: 100%;
  background-color: var(--back_color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1 {
  width: 22%;
  height: 107%;
  margin: 10px;
  background-color: #72097e;
  color: var(--font_color);
  border: none;
  border-radius: 20px;
  position: absolute;
  top: -3.5%;
  margin-left: -58.5%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button2 {
  width: 28%;
  height: 107%;
  margin: 10px;
  background-color: #fb8218;
  color: var(--font_color);
  border: none;
  border-radius: 20px;
  position: absolute;
  top: -3.5%;
  margin-left: 0.2%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button3 {
  width: 26%;
  height: 107%;
  margin: 10px;
  background-color: #0e78c9;
  color: var(--font_color);
  border: none;
  border-radius: 20px;
  position: absolute;
  top: -3.5%;
  margin-left: 54%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button4 {
  width: 25%;
  height: 107%;
  margin: 10px;
  background-color: rgb(255, 94, 0);
  color: white;
  border: none;
  border-radius: 20px;
  position: absolute;
  top: -3.5%;
  margin-left: 105.5%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot {
  position: absolute;
  top: -7%;
  left: -2.5%;
  width: 1vw;
  height: 2.3vh;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot2 {
  position: absolute;
  top: -7%;
  left: 0.3%;
  width: 1vw;
  height: 2.3vh;
  background-color: #ffc300;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot3 {
  position: fixed;
  top: -7%;
  left: 3.1%;
  width: 1vw;
  height: 2.3vh;
  background-color: rgb(45, 202, 25);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-button {
  position: absolute;
  margin-top: 5%;
  left: 0.5%;
  width: 2.5%;
  cursor: pointer;
  color: #e4964d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.confirma {
  height: 10vh;
  width: 5vw;
  margin-top: 40%;
  margin-right: 3%;
  float: right;
  cursor: pointer;
  background-repeat: no-repeat;
}

/*observacao*/

.benchmarking {
  z-index: 9999;
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: var(--font_color);
  margin: auto;
}

.Observacao2 {
  z-index: 9999;
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--font_color);
  height: 120%;
}

.Observacao3 {
  z-index: 9999;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.confirma {
  width: 4vw;
  height: 8vh;
  margin-top: 45%;
  margin-right: 4%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-gerarpdf {
  position: absolute;
  width: 4vw;
  height: 8vh;
  margin-top: 40%;
  margin-left: 92%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 810px) {
  .container {
    width: 65vw;
    height: 60vh;
    margin-top: 55%;
    transform: translate(-50%, -50%);
    border-width: 30px;
    border-radius: 20px;
  }
  .logo_navbar {
    height: 4vh;
    width: 6vw;
  }
  .navbar {
    height: 5vh;
  }
  .button1,
  .button2,
  .button3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 568px) {
  body {
    background-color: #77216f;
  }
  .body {
    height: 100vh;
  }
  .name_navbar,
  .cnvgen_navbar,
  .desktop ul li {
    padding: 1px;
    top: -80%;
    font-size: 18px;
  }
  .name_navbar {
    top: 1%;
    left: 9%;
    font-size: 20px;
  }
  .logo_navbar {
    width: 8vw;
  }
  .desktop ul {
    margin-top: 1%;
    margin-right: 1%;
  }
  .dot,
  .dot2,
  .dot3 {
    top: -1.5%;
    margin-left: -1%;
    width: 3.5vw;
    height: 1.8vh;
  }
  .dot2 {
    left: 3vw;
  }
  .dot3 {
    left: 8vw;
  }
  .dark_select input[type="checkbox"] {
    width: 18vw;
    height: 4vh;
  }
  .container {
    width: 85vw;
    height: 80vh;
    margin-top: 105%;
    transform: translate(-50%, -50%);
    border-width: 20px;
    border-radius: 10px;
  }
  .rectangle {
    flex-direction: row;
  }
  .button1,
  .button2,
  .button3 {
    font-size: 30px;
  }
  .button1 {
    top: 1%;
    left: 111%;
    height: 15vh;
    width: 100%;
    border-radius: 8px;
  }
  .button2 {
    top: 23%;
    left: 15%;
    height: 35vh;
    width: 100%;
    border-radius: 8px;
  }
  .button3 {
    top: 71.5%;
    left: -52%;
    width: 100%;
    height: 20vh;
    border-radius: 8px;
  }
  .confirma {
    height: 7vh;
    width: 15vw;
    margin-top: 90vh;
  }
}
