body, html{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #e95420, #6c0277);
}
  
.clear{
  clear: both;
}

.navbar{
    display: flex;
    background: #FF9000;
    height: 80px;
    color: rgb(255, 239, 210);
    filter: drop-shadow(1px 1px 2px #252525);
}

.logo_navbar{
    position: relative;
    height: 85%;
    margin: 1%;
    margin-top: 0.5%;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
.logo_main{
    position: relative;
    height: 55vh;
    margin-top: -45%;
    display: inline-block;
    filter: drop-shadow(1px 1px 5px #252525);
}
.name_navbar{
    position: relative;
    margin: 10%;
    align-self: center  ;
    margin-top: -6%;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 3vh;
    font-weight: 500;
    color: #3c4043;
    margin-left: 12%;
    cursor: pointer;
}

  .container {
    position: absolute;
    width: 950px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    border: 50px solid rgb(40, 36, 36);
    border-radius: 30px;
  }
  
  .rectangle {
    width: 100%;
    height: 100%;
    background-color: rgb(40, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button1 {
    padding: 270px 45px;
    margin: 10px;
    background-color: #72097e;
    color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 9%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 40px;
  }
  
  .button2 {
    padding: 270px 85px;
    margin: 10px;
    background-color: #fb8218;
    color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 44.1%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 40px;
    
  }
  
  .button3 {
    padding: 270px 78px;
    margin: 10px;
    background-color: #0e78c9;
    color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 84%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 40px;
  }

  .dot {
    position: absolute;
    top: -45px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot2 {
    position: absolute;
    top: -45px;
    left: -5px;
    width: 20px;
    height: 20px;
    background-color: rgb(248, 225, 14);
    border-radius: 50%;
  }
.dot2 {
  position: absolute;
  top: -45px;
  left: -5px;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 225, 14);
  border-radius: 50%;
}

.dot3 {
  position: absolute;
  top: -45px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 50%;
}

.arrow-button {
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.dot3 {
    position: absolute;
    top: -45px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: rgb(45, 202, 25);
    border-radius: 50%;
}
  
.arrow-button {
    width: 65px;
    height: 50px;
    cursor: pointer;
}

/* intuição */


.form{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.center{
  position:absolute;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-right: 500px;
  background-color: #252525;
  max-width: 1000px;
  margin: 30px 8%;
  border-radius: 30px;
}

.form .center button{
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  top: -1px;
}

.duvida{
  background-image: url('../../images/request\ \(1\).png');
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}

.esquerda{
  float: left;
  width: 50%;
}

.parte1{
  font-size: 20px;
}

.parte1 form{
  color: white;
  float: left;
  width: 90%;
}

.parte1 form input{
  margin-right: 10px;
  margin-left: 10px;
  /* float: right; */
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 15px;
  padding: 5px;
}

.tabela1{
  margin-top: 20px;
  float: left;
  width: 90%;
}

.tabela1 table{
  text-align: center;
  background-color: #6c0277;
  border: 1px solid #6c0277;
  border-radius: 15px;
}

.tabela1 table td{
  height: 30px;
  border-radius: 8px;
}

.tabela1 table input{
  width: 90%;
  height: 90%;
  background-color: #252525;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
}

.tecnico{
  background-color: rgb(233, 31, 156);
}

.mercadologico{
  background-color: greenyellow;
}

.emocional{
  background-color:  #0e78c9;
}

.resiliencia{
  background-color: orangered;
}

.integrador{
  background-color: blueviolet;
}

.parte2{
  float: left;
  width: 90%;
}

.parte2 p{
  color: white;
  font-size: 25px;
}

.parte2 input{
  margin-right: 10px;
  margin-left: 10px;
  /* float: right; */
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 15px;
  color: white;
  width: 400px;
  height: 50px;
}

.direita{
  float: right;
  width: 40%;
}

.tabela2 table{
  color: white;
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 8px;
  padding: 20px;
  float: left;
  width: 90%;
}

.tabela2 h2{
  color: white;
}

.tabela2 table tr{
  width: 30%;
  height: 100%;
  text-align: left;
  padding: 10px;
}

.tabela2 input{
  width: 70%;
  height: 100%;
  border-bottom: 1px solid white;
  background-color: #252525;
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 10px;
}

.tabela3 h2{
  color: white;
}

.tabela3 table{
  text-align: center;
  background-color: #6c0277;
  border: 1px solid #6c0277;
  border-radius: 15px;
  color: white;
  float: left;
  width: 90%;
}

.tabela3 table td{
  height: 30px;
  border-radius: 8px;
}

.tabela3 table input{
  width: 95%;
  height: 95%;
  background-color: #252525;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
}
  

