body,
html {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, #e95420 0%, #77216f 100%);
  max-width: 100%;
}

.clear {
  clear: both;
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  background: #ff9000;
  height: 80px;
  color: rgb(255, 239, 210);
  filter: drop-shadow(1px 1px 2px #252525);
}

.logo_navbar {
  position: absolute;
  width: 3%;
  height: 78%;
  left: 1%;
  top: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.name_navbar {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 5%;
  top: -10%;
  cursor: pointer;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;

  /* identical to box height */
  text-align: center;

  color: #fff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cnvgen_navbar {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 80%;
  top: -10%;
  cursor: pointer;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 29px;

  /* identical to box height */
  text-align: center;

  color: #fff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  width: 75%;
  height: 60%;
  max-width: 950px;
  max-height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  border: 50px solid rgb(40, 36, 36);
  border-radius: 30px;
}

.rectangle {
  width: 100%;
  height: 100%;
  background-color: rgb(40, 36, 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1 {
  padding: 20% 45px;
  margin: 10px;
  background-color: #72097e;
  color: white;
  border: none;
  border-radius: 20px;
  position: absolute;
  left: 9%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
}

.button2 {
  padding: 20% 85px;
  margin: 10px;
  background-color: #fb8218;
  color: white;
  border: none;
  border-radius: 20px;
  position: absolute;
  left: 44.1%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
}

.button3 {
  padding: 20% 78px;
  margin: 10px;
  background-color: #0e78c9;
  color: white;
  border: none;
  border-radius: 20px;
  position: absolute;
  left: 84%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
}

.dot {
  position: absolute;
  top: -45px;
  left: -30px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.dot2 {
  position: absolute;
  top: -45px;
  left: -5px;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 225, 14);
  border-radius: 50%;
}
.dot2 {
  position: absolute;
  top: -45px;
  left: -5px;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 225, 14);
  border-radius: 50%;
}

.dot3 {
  position: absolute;
  top: -45px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 50%;
}

.arrow-button {
  position: absolute;
  margin-top: 5%;
  left: 0.5%;
  width: 2.5%;
  cursor: pointer;
  color: #e4964d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dot3 {
  position: absolute;
  top: -45px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 50%;
}

/* intuição */

.form {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.center {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-right: 500px;
  background-color: #252525;
  max-width: 1000px;
  margin: 30px 8%;
  border-radius: 30px;
}

.form .center button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  top: -1px;
}

.duvida {
  background-image: url("../../images/request\ \(1\).png");
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}

.esquerda {
  float: left;
  width: 50%;
}

.parte1 {
  font-size: 20px;
}

.parte1 form {
  color: white;
  float: left;
  width: 90%;
}

.parte1 form input {
  margin-right: 10px;
  margin-left: 10px;
  /* float: right; */
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 15px;
  padding: 5px;
}

.tabela1 {
  margin-top: 20px;
  float: left;
  width: 90%;
}

.tabela1 table {
  text-align: center;
  background-color: #6c0277;
  border: 1px solid #6c0277;
  border-radius: 15px;
}

.tabela1 table td {
  height: 30px;
  border-radius: 8px;
}

.tabela1 table input {
  width: 90%;
  height: 90%;
  background-color: #252525;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
}

.tecnico {
  background-color: rgb(233, 31, 156);
}

.mercadologico {
  background-color: greenyellow;
}

.emocional {
  background-color: #0e78c9;
}

.resiliencia {
  background-color: orangered;
}

.integrador {
  background-color: blueviolet;
}

.parte2 {
  float: left;
  width: 90%;
}

.parte2 p {
  color: white;
  font-size: 25px;
}

.parte2 input {
  margin-right: 10px;
  margin-left: 10px;
  /* float: right; */
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 15px;
  color: white;
  width: 400px;
  height: 50px;
}

.direita {
  float: right;
  width: 40%;
}

.tabela2 table {
  color: white;
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 8px;
  padding: 20px;
  float: left;
  width: 90%;
}

.tabela2 h2 {
  color: white;
}

.tabela2 table tr {
  width: 30%;
  height: 100%;
  text-align: left;
  padding: 10px;
}

.tabela2 input {
  width: 70%;
  height: 100%;
  border-bottom: 1px solid white;
  background-color: #252525;
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 10px;
}

.tabela3 h2 {
  color: white;
}

.tabela3 table {
  text-align: center;
  background-color: #6c0277;
  border: 1px solid #6c0277;
  border-radius: 15px;
  color: white;
  float: left;
  width: 90%;
  padding: 0;
}

.tabela3 table td {
  width: 100%;
  height: 30px;
}

.tabela3 table input {
  width: 95%;
  height: 95%;
  background-color: #252525;
  border: 1px solid black;
  color: white;
}

.feito {
  background-image: url("../../images/check.png");
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  width: 50%;
  background-repeat: no-repeat;
}
