:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}
textarea {
  resize: none;
}
body {
  width: 100%;
  overflow-x: hidden;
}
textarea {
  resize: none;
}
.form {
  z-index: 9999;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.centerInt {
  position: absolute;
  height: 100vh;
  width: 80vw;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  left: 8%;
  top: 6%;
  background-color: var(--back_color);
  border-radius: 30px;
}

.close_int {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 1.5%;
  top: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dot2_int {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ffc300;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 3.5%;
  top: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dot3_int {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 5.5%;
  top: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.esquerda {
  float: left;
  width: 50%;
  margin-top: 2%;
}

.h2_project {
  color: var(--font_color);
  margin-top: 3%;
}

.h2_equipe {
  margin-top: 5%;
  color: var(--font_color);
}

.h2_Ikigai {
  color: var(--font_color);
  margin-bottom: 3%;
}

.parte1 {
  margin-top: -4%;
  font-size: 15px;
}

.parte1 form {
  color: var(--font_color);
  float: left;
  width: 90%;
}

.inputProjeto {
  box-sizing: border-box;
  position: absolute;
  width: 29.7vw;
  height: 4vh;
  left: 6.5vw;
  top: 5.3vh;
  padding: 2px;
  color: var(--font_color);
  border: 2px solid #77216f;
  background-color: var(--back_color);
  border-radius: 20px;
}

.parte1_2 {
  font-size: 20px;
}

.parte1_2 form {
  color: var(--font_color);
  float: left;
  width: 90%;
}

.inputEquipe {
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
  width: 34.4vw;
  height: 12vh;
  left: 1.5vw;
  top: 16.5vh;
  border: 2px solid #77216f;
  background-color: var(--back_color);
  color: var(--font_color);
  border-radius: 20px;
}

.tabela1 {
  margin-top: 17vh;
  float: center;
  width: 100vw;
}

.tabela1 .tituloDNA {
  margin-bottom: 1%;
  font-size: 25px;
  color: var(--font_color);
}

.duvidaDNA_int {
  background-image: url("../../images/request\ \(1\).png");
  position: relative;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
  right: -3vw;
  top: -36.3vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tabela1 table {
  text-align: center;
  background-color: #6c0277;
  border: 1px solid #6c0277;
  border-spacing: 0;
  border-radius: 15px;
  margin-bottom: 1%;
}

.tabela1 table td {
  border-bottom: 1px solid #6c0277;
  border-top: 1px solid #6c0277;
  width: 10vw;
  height: 5vh;
  background-color: var(--back_color);
}

.tabela1 table input {
  background-color: var(--back_color);
  border: none;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-color: #6c0277;
  color: var(--font_color);
}

.tabela1 table td.tecnico {
  background-color: rgb(233, 31, 156);
}

.tabela1 table td.mercadologico {
  background-color: greenyellow;
}

.tabela1 table td.emocional {
  background-color: #0e78c9;
}

.tabela1 table td.resiliencia {
  background-color: orangered;
}

.tabela1 table td.integrador {
  background-color: blueviolet;
  border-radius: 0 0 0 15px;
}

.form .centerInt .esquerda .tabela1 table td.quarto-canto {
  border-radius: 0 0 15px 0;
}

.form .centerInt .esquerda .tabela1 table td input.quarto-canto {
  border-radius: 0 0 15px 0;
}

.duvidaIkigai_int {
  background-image: url("../../images/request\ \(1\).png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  float: left;
  cursor: pointer;
  margin-left: 33vw;
  margin-top: -24vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.parte2 {
  float: left;
  width: 90%;
  color: var(--font_color);
  margin-top: 3%;
}

.parte2 form {
  font-size: 25px;
}

.parte2 textarea {
  font-size: 18px;
  margin-left: 0%;
  margin-top: -4.6%;
  padding: 2px;
  background-color: var(--back_color);
  border: 2px solid #6c0277;
  border-radius: 15px;
  color: var(--font_color);
  width: 35vw;
  height: 20vh;
  resize: none;
}

.direita {
  float: right;
  width: 40%;
  margin-top: 2%;
}

.four_ps {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 2px solid #6c0277;
  border-radius: 8px;
  padding: 20px;
  float: right;
  width: 70%;
  margin-top: 2%;
  margin-left: 0%;
}

.tabela_4ps h2 {
  color: var(--font_color);
  margin-left: 20%;
  float: left;
  margin-top: 3%;
}

.tabela_4ps table tr {
  width: 30%;
  height: 10vh;
  text-align: left;
  padding: 10px;
  border: 2px solid #6c0277;
  border-radius: 15px;
}

.tabela_4ps textarea {
  width: 70%;
  height: 100%;
  color: var(--font_color);
  border-bottom: 1px solid var(--font_color);
  background-color: var(--back_color);
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 10px;
}

.duvida_fourps_int {
  background-image: url("../../images/request\ \(1\).png");
  position: relative;
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
  margin-left: 42vw;
  margin-top: -30vh;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tabela3 h2 {
  color: var(--font_color);
  margin-top: 40%;
  margin-left: 20%;
}

.tabela3 table {
  text-align: center;
  border: 0px solid #6c0277;
  border-radius: 15px;
  color: var(--font_color);
  float: right;
  width: 70%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 0;
  border-spacing: 0;
}

.tabela3 table th {
  background-color: #6c0277;
  width: 50%;
  height: 5vh;
}
.primeiro-canto {
  border-radius: 15px 0 0 0;
}
.segundo-canto {
  border-radius: 0 15px 0 0;
}

.tabela3 table td {
  border: 2px solid #6c0277;
}

.tabela3 table input {
  height: 100%;
  padding: 10px;
  width: 100%;
  border: 0;
  background-color: var(--back_color);
  color: var(--font_color);
}

.terceiro-canto,
.terceiro-canto input {
  border-radius: 0 0 15px 0;
}

.quarto-canto {
  border-radius: 0 0 0 15px;
}

.duvida_sintese_int {
  background-image: url("../../images/request\ \(1\).png");
  position: relative;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
  right: -32vw;
  top: -2.5vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.feito_int {
  height: 6vh;
  width: 3vw;
  margin-top: 7vh;
  margin-left: 10vw;
  float: right;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 568px) {
  body {
    height: fit-content;
  }
  h2 {
    font-size: 18px;
  }
  .navbar {
    width: 100vw;
  }
  .form {
    height: 180vh;
    width: 100vw;
  }
  .centerInt {
    height: 160vh;
  }
  .close_int {
    left: 3vw;
  }
  .dot2_int {
    left: 9vw;
  }
  .dot3_int {
    left: 15vw;
  }
  .close_int,
  .dot2_int,
  .dot3_int {
    height: 2vh;
    width: 4vw;
    top: 1.5vh;
    margin-left: 1vw;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  }
  .h2_project {
    margin-top: 3vh;
  }
  .inputProjeto {
    padding: 5px;
    align-self: left;
    margin-top: 4vh;
    left: 5vw;
    height: 4vh;
    width: 70vw;
  }
  .h2_equipe {
    margin-top: 5vh;
  }
  .inputEquipe {
    align-self: left;
    margin-top: 0vh;
    left: 5vw;
    width: 70vw;
  }
  .tabela1 {
    margin-top: 15vh;
  }
  .tabela1 .tituloDNA {
    font-size: 18px;
  }
  .tabela1 table {
    width: fit-content;
    font-size: 12px;
  }
  .tabela1 table th {
    width: 21.5vw;
    height: 3vh;
  }
  .tabela1 table td {
    width: 21.5vw;
    height: 1vh;
  }
  .tabela1 table input {
    z-index: 99999;
    float: left;
    height: 3vh;
    width: 21.5vw;
    font-size: 12px;
  }
  .esquerda {
    margin-top: 0vh;
    width: 90%;
  }
  .direita {
    float: left;
    width: 90%;
    margin-top: 80vh;
    margin-right: auto;
  }
  .duvidaDNA_int {
    margin-top: 11.5vh;
    left: 22vw;
  }

  .parte2 {
    margin-top: -12vh;
  }
  .parte2 textarea {
    margin-top: -1.5vh;
    width: 67vw;
    padding: 5px;
  }
  .duvidaIkigai_int {
    margin-top: -23.3vh;
    margin-left: 18vw;
  }
  .tabela_4ps {
    margin-left: -1vw;
    margin-top: 2vh;
  }
  .tabela_4ps h2 {
    float: left;
    margin-left: -25vw;
  }
  .four_ps {
    margin-top: 1vh;
    margin-left: 2vw;
    width: 67vw;
  }
  .duvida_fourps_int {
    margin-top: -29vh;
    margin-left: 12vw;
  }
  .tabela3 table {
    float: left;
    width: 67vw;
    margin-top: 1vh;
    margin-left: -26vw;
  }
  .tabela3 h2 {
    margin-top: 35vh;
    margin-left: -24vw;
  }
  .duvida_sintese_int {
    margin-top: -24.5vh;
    left: -35vw;
  }
  .feito_int {
    margin-top: 2vh;
    margin-left: 0vw;
    width: 15vw;
    height: 7vh;
  }
}
