.form {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.centerInt {
  position: absolute;
  height: 90vh;
  width: 80vw;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #252525;
  border-radius: 30px;
  font-family: "Ubuntu";
}

.form .centerInt button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  left: 1.5%;
  top: 2%;
}

.duvida1 {
  background-image: url("../../images/request\ \(1\).png");
  width: 0.85vw;
  height: 1.533vh;
  float: right;
  cursor: pointer;
  margin-right: 8%;
  margin-top: 0%;
}

.esquerda {
  float: left;
  width: 50%;
  margin-top: 2%;
}

.parte1 {
  font-size: 20px;
}

.parte1 form {
  color: white;
  float: left;
  width: 90%;
}

.inputProjeto {
  box-sizing: border-box;
  position: absolute;
  width: 20vw;
  height: 4vh;
  left: 10%;
  right: 52.43%;
  top: 11.5%;
  bottom: 88.61%;
  border: 2px solid #77216F;
  background-color: #252525;
  border-radius: 20px;
}

.parte1_2 {
  font-size: 20px;
}

.parte1_2 form {
  color: white;
  float: left;
  width: 90%;
}

.inputEquipe {
  box-sizing: border-box;
  position: absolute;
  width: 26.8vw;
  height: 12vh;
  left: 2%;
  right: 52.43%;
  top: 25%;
  bottom: 73.78%;
  border: 2px solid #77216F;
  background-color: #252525;
  border-radius: 20px;
}

.tabela1 {
  margin-top: 30%;
  float: left;
  width: 100vw;
}

.tabela1 table {
  text-align: center;
  background-color: #6c0277;
  border: 5px solid #6c0277;
  border-radius: 15px;
  border-collapse: collapse;
  border-width: 1px;

}

.tabela1 table td {
  height: 50%;
  border-radius: 8px;
}

.tabela1 table input {
  width: 10vw;
  height: 5vh;
  background-color: #252525;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
}

.tecnico {
  background-color: rgb(233, 31, 156);
  height: 10vh;
  width: 10vw;
}

.mercadologico {
  background-color: greenyellow;
}

.emocional {
  background-color: #0e78c9;
}

.resiliencia {
  background-color: orangered;
}

.integrador {
  background-color: blueviolet;
}

.duvida2 {
  background-image: url("../../images/request\ \(1\).png");
  width: 0.85vw;
  height: 1.533vh;
  float: right;
  cursor: pointer;
  margin-right: 8%;
  margin-top: 7%;
}

.parte2 {
  float: left;
  width: 90%;
}

.parte2 p {
  color: white;
  font-size: 25px;
}

.parte2 input {
  margin-right: 10px;
  /* float: right; */
  background-color: #252525;
  border: 5px solid #6c0277;
  border-radius: 15px;
  color: white;
  width: 30vw;
  height: 10vh;
}

.direita {
  float: right;
  width: 40%;
  margin-top: 2%;
}

.dateInt {
  height: 4vh;
  width: 8vw;
  margin-top: -6%;
  margin-right: 0%;
  float: right;
  cursor: pointer;
  background-repeat: no-repeat;
}

.four_ps {
  color: white;
  background-color: #252525;
  border: 5px solid #6c0277;
  border-radius: 8px;
  padding: 20px;
  float: right;
  width: 50%;
}

.tabela22 h2 {
  color: white;
  margin-left: 20%;
}

.tabela22 table tr {
  width: 10vw;
  height: 100%;
  text-align: left;
  padding: 10px;
}

.tabela22 input {
  width: 70%;
  height: 100%;
  border-bottom: 1px solid white;
  background-color: #252525;
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 10px;
}

.duvida3 {
  background-image: url("../../images/request\ \(1\).png");
  width: 0.85vw;
  height: 1.533vh;
  float: right;
  cursor: pointer;
  margin-right: 5%;
  margin-top: -4%;
}

.tabela3 h2 {
  color: white;
  margin-right: 5%;
  margin-top: 25%;
  float: right;
}

.tabela3 table {
  text-align: center;
  background-color: #6c0277;
  border: 5px solid #6c0277;
  border-radius: 15px;
  color: white;
  float: right;
  width: 50%;
  margin-right: 10%;
  margin-top: 10%;
  padding: 0;
}

.tabela3 table td {
  width: 100%;
  height: 30px;
}

.tabela3 table input {
  width: 95%;
  height: 95%;
  background-color: #252525;
  border: 1px solid black;
  color: white;
}

.duvida4 {
  background-image: url("../../images/request\ \(1\).png");
  width: 0.85vw;
  height: 1.533vh;
  float: right;
  cursor: pointer;
  margin-right: 5%;
  margin-top: -4%;
}

.feito {
  height: 6vh;
  width: 3vw;
  margin-top: 35%;
  margin-right: 0%;
  float: right;
  cursor: pointer;
  background-repeat: no-repeat;
}
