.center{
  justify-content: center;
  align-items: right;
  padding: 4%;
  background-color: #252525;
  border-radius: 30px;
  width: 80%;
  height: 60%;
  margin: auto;
}

.form .center button{
  cursor: pointer;
  width: 1%;
  height: 2%;
  background-color: red;
  border-radius: 20px;
  position: absolute;
  border: none;
  top: 1%;
  right: 90%;
  position: absolute;
}
  
  
.duvida{
  background-image: url('../../images/request\ \(1\).png');
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}
  
.esquerda{
  float: left;
  width: 50%;
}
  
.parte1{
  font-size: 20px;
}
  
.parte1 form{
  color: white;
  float: left;
  width: 90%;
  text-align: left;
}
  
.parte1 form input{
  /* float: right; */
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 15px; 
}

.margin{
  margin-left: 5%;
}
  
.tabela1{
  margin-top: 5%;
  float: left;
  width: 90%;
}
  
.tabela1 table{
  text-align: center;
  background-color: #252525;
  border-spacing: 0;
}
  
.tabela1 table th{
  background-color: #6c0277;
}
  
.tabela1 table td{
  border-spacing: 0;
}
  
.tabela1 table input{
  width: 90%;
  height: 90%;
  border: none;
  background-color: #252525;
  color: white;
}
  
.tecnico{
  background-color: rgb(233, 31, 156);
  border-left: 1px solid #6c0277;
}
  
.mercadologico{
  background-color: greenyellow;
  border-left: 1px solid #6c0277;
}
  
.emocional{
  background-color:  #0e78c9;
  border-left: 1px solid #6c0277;
}
  
.resiliencia{
  background-color: orangered;
  border-left: 1px solid #6c0277;
}
  
.integrador{
  background-color: blueviolet;
  border-left: 1px solid #6c0277;
  border-bottom: 1px solid #6c0277;
  border-radius: 0 0 0 15px;
}
  
.tabela1 table .primeiro-canto{
  border-radius: 15px 0 0 0;
  background-color: #6c0277;
}
  
.tabela1 table .segundo-canto{
  border-radius: 0 15px 0 0;
  background-color: #6c0277;
}
  
.tabela1 table .terceiro-canto{
  border-radius: 0 0 15px 0;
  border-bottom: 1px solid #6c0277;
  border-right: 1px solid #6c0277;
}

.tabela1 table .input-terceiro-canto{
  border-radius: 0 0 15px 0;
}

.inferior{
  border-bottom: 1px solid #6c0277;
}
  
.canto{
  border-right: 1px solid #6c0277;
}
  
.parte2{
  float: left;
  width: 90%;
  height: 90%;
  text-align: left;
}
  
.parte2 p{
  color: white;
  font-size: 25px;
}
  
.parte2 input{
  /* float: right; */
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 15px;
  color: white;
  width: 100%;
  height: 100%;
}
  
.direita{
  float: right;
  width: 40%;
}
  
.tabela2 table{
  color: white;
  background-color: #252525;
  border: 1px solid #6c0277;
  border-radius: 8px;
  padding: 5%;
  float: left;
  width: 90%;
}
  
.tabela2 h2{
  color: white;
}
  
.tabela2 table tr{
  width: 30%;
  height: 100%;
  text-align: left;
}

.tabela2 table td{
  padding: 5%;
}
  
.tabela2 input{
  width: 70%;
  height: 100%;
  border-bottom: 1px solid white;
  background-color: #252525;
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 2%;
}
  
.tabela3 h2{
  color: white;
}
  
.tabela3 table{
  width: 90%;
  float: left;
  border-spacing: 0;
}
  
.tabela3 table .primeiro-canto{
  border-radius: 15px 0 0 0;
  background-color: #6c0277;
}
  
.tabela3 table .segundo-canto{
  border-radius: 0 15px 0 0;
  background-color: #6c0277;
}
  
.tabela3 table .terceiro-canto{
  border-radius: 0 0 15px 0;
}
  
.tabela3 table .quarto-canto{
  border-radius: 0 0 0 15px;
}
  
.tabela3 th, .tabela3 td{
  border: 1px solid black;
  margin: 0;
}
  
  
.tabela3 table input{
  width: 95%;
  height: 95%;
  background-color: #252525;
  border: none;
}
  
.feito{
  background-image: url('../../images/check2.png');
  width: 10%;
  height: 10%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 85%;
  bottom: 25%;
}