/*Interação*/

:root {
  --back_color: #fcdbc1;
  --font_color: black;
}

.dark-mode:root {
  --back_color: #252525;
  --font_color: white;
}

.form_interacao {
  z-index: 9999;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.centerItr {
  width: 90%;
  height: 90%;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 5%;
  margin-top: 5%;
  background-color: var(--back_color);
  border-radius: 30px;
}

.close_itr {
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
}

.dot2_itr {
  position: absolute;
  top: 1.5%;
  left: 3.2%;
  width: 20px;
  height: 20px;
  background-color: #ffc300;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot2_itr2 {
  position: absolute;
  top: 1.5%;
  left: 3.2%;
  width: 20px;
  height: 20px;
  background-color: #ffc300;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot2_itr3 {
  position: absolute;
  top: 1.5%;
  left: 3.2%;
  width: 20px;
  height: 20px;
  background-color: #ffc300;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot3_itr {
  position: absolute;
  top: 1.5%;
  left: 4.8%;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot3_itr2 {
  position: absolute;
  top: 1.5%;
  left: 4.8%;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot3_itr3 {
  position: absolute;
  top: 1.5%;
  left: 4.8%;
  width: 20px;
  height: 20px;
  background-color: rgb(45, 202, 25);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.parte1_interacao {
  float: left;
  width: 15%;
  margin-top: 2%;
}

.parte1_interacao p {
  color: var(--font_color);
  font-size: 25px;
}

.tabela_analise_custos {
  margin-top: 1%;
  float: left;
  width: 100%;
  font-weight: 100;
}

.tabela_analise_custos table {
  box-sizing: border-box;
  margin-left: 3%;
  margin-top: 1%;

  text-align: center;
  padding: 1px;
  background-color: #0e78c9;
  border: 1px solid #0e78c9;
  border-radius: 12px;
  color: var(--font_color);
}

.tabela_analise_custos table td {
  width: 20vw;
  height: 6vh;
  border-radius: 10px;
  font-weight: 400;
}

.tabela_analise_custos table input {
  width: 100%;
  height: 100%;
  background-color: var(--back_color);
  border: 1px solid var(--back_color);
  border-radius: 0px;
  color: var(--font_color);
}

/*config tabela 2*/
.parte2_interacao {
  float: left;
  width: 25%;
  margin-top: 5%;
}

.parte2_interacao p {
  color: var(--font_color);
  font-size: 25px;
}

.tabela_analise_preço {
  margin-top: 1%;
  float: left;
  width: 90%;
  font-weight: 100;
}

.tabela_analise_preço table {
  box-sizing: border-box;
  margin-left: 8.11%;
  margin-top: 1%;

  text-align: center;
  padding: 1px;
  background-color: #0e78c9;
  border: 1px solid #0e78c9;
  border-radius: 12px;
  color: var(--font_color);
}

.tabela_analise_preço table td {
  width: 20vw;
  height: 10vh;
  border-radius: 10px;
  font-weight: 400;
}

.tabela_analise_preço table input {
  width: 100%;
  height: 100%;
  background-color: var(--back_color);
  border: 1px solid var(--back_color);
  border-radius: 0px;
  color: var(--font_color);
}

.right-arrow,
.left-arrow,
.feito_itr {
  margin-top: 2%;
  float: right;
  width: 6%;
  height: 6%;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.left-arrow {
  float: left;
  transform: rotate(180deg);
}

/* config tela 2 */

.tela_2_form_interacao {
  z-index: 9999;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close_itr3 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  top: 1.6%;
  left: 1.6%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*botao de inserir tarefa*/
#input-new-task {
  border-radius: 15px;
  font-size: 20px;
  color: var(--font_color);
  background-color: transparent;
  border-color: #0e78c9;
  padding: 3px;
  margin-top: 10%;
}
.button_tarefa {
  cursor: pointer;
  margin-left: 1%;
  position: absolute;
  margin-top: 1%;
}

.parte3_interacao {
  float: left;
  width: 25%;
}

.parte3_interacao p {
  color: var(--font_color);
  font-size: 25px;
}

.parte4_interacao {
  float: left;
  width: 10%;
  margin-left: 0%;
}

.parte4_interacao p {
  color: var(--font_color);
  font-size: 25px;
}

.tabela_MVP {
  margin-top: 5%;
  float: left;
  width: 90%;
  font-weight: 100;
}

.tabela_MVP table {
  box-sizing: border-box;
  margin-left: -10%;
  margin-top: 1%;

  text-align: center;
  background-color: #0e78c9;
  border: 1px solid #0e78c9;
  border-radius: 7px;
  color: var(--font_color);
}

.tabela_MVP table td {
  height: 6vh;
  border-radius: 10px;
  font-weight: 400;
}

.tabela_MVP table input {
  width: 100%;
  height: 100%;
  background-color: var(--back_color);
  border: 1px solid var(--back_color);
  color: var(--font_color);
}

.parte5_interacao {
  margin-top: 18%;
  float: left;
  width: 18%;
}

.parte5_interacao p {
  color: var(--font_color);
  font-size: 25px;
}

.tabela_formacao {
  margin-bottom: 3%;
  float: left;
  width: 110%;
  font-weight: 100;
}

.tabela_formacao table {
  margin-top: 1%;
  text-align: center;
  background-color: #0e78c9;
  border: 1px solid #0e78c9;
  border-radius: 7px;
  color: var(--font_color);
  float: left;
  width: 90%;
  padding: 0;
}

.tabela_formacao table td {
  border-radius: 10px;
  font-weight: 400;
  height: 40px;
}

.tabela_formacao table input {
  width: 100%;
  height: 100%;
  background-color: var(--back_color);
  border: 1px solid var(--back_color);
  border-radius: 0px;
  color: var(--font_color);
}

/*Tela 3 Interação*/

.tela_3_form_interacao {
  z-index: 9999;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close_itr2 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  border: none;
  top: 1.6%;
  left: 1.6%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.direita {
  float: right;
  width: 60%;
}

.esquerda {
  float: left;
  width: 35%;
}

.digitalizacao {
  float: bottom;
  width: 65%;
}

.digitalizacao p {
  color: var(--font_color);
  font-size: 25px;
}

/*Configurações das imagens da tabela*/

.table {
  display: grid;
  gap: 5%;
  margin-bottom: 20%;
}

.table-row {
  display: flex;
  align-items: center;
  gap: 5%;
}

.checkbox_dig img {
  width: 15%;
  height: 15%;
  margin-right: 2%;
}

.checkbox_dig input[type="checkbox"] {
  width: 15%;
  height: 15%;
  margin-right: 2.5%;
}

.seta_pag_3 {
  float: left;
  width: 18%;
  height: 18%;
  cursor: pointer;
  transform: rotate(180deg);
  margin-top: 8%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*configurações do emoticons*/

.checkbox-image_1 {
  width: 15%;
  height: 15%;
  margin-left: 17%;
  margin-right: 0.75%;
  margin-top: 3%;
}

.checkbox-image {
  width: 15%;
  height: 15%;
  margin-right: 1%;
  margin-left: 0.75%;
}
/*configuração da checkbox*/

.checkbox_dig input[type="checkbox"] {
  --checkbox-color-unchecked: #0e78c9;
  width: 15%;
  height: 8vh;
  /* Estilização da checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 2px solid var(--checkbox-color-unchecked);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

/* Ícone de marca de seleção */
.checkbox_dig input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #0e78c9;
  border-radius: 2px;
}

/*configuração tabela de canais de venda*/

.canais_venda {
  float: top;
  width: 23%;
}

.canais_venda p {
  color: var(--font_color);
  font-size: 20px;
}

.tabela_canais_venda {
  box-sizing: border-box;
  float: center;
  text-align: center;
  background-color: #0e78c9;
  border: 1px solid #0e78c9;
  border-radius: 12px;
  color: var(--font_color);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 8%;
  width: 80%;
  font-weight: 100;
  padding: 3px;
}

.tabela_canais_venda th {
  height: 3vh;
  border-radius: 10px;
  font-weight: 500;
}

.tabela_canais_venda td {
  height: 6vh;
  border-radius: 10px;
  font-weight: 500;
}

.tabela_canais_venda input[type="text"] {
  width: 100%;
  height: 100%;
  background-color: var(--back_color);
  border: 1px solid var(--back_color);
  border-radius: 0px;
  color: var(--font_color);
}

.h2_4psItr2 {
  margin-top: 10%;
}
/*css tabela dos 4 ps*/
.tabela2 table {
  color: var(--font_color);
  background-color: var(--back_color);
  border: 1px solid #0e78c9;
  border-radius: 8px;
  padding: 20px;
  float: left;
  width: 70%;
  margin-top: 2%;
  margin-left: 5%;
}

.tabela2 table tr {
  width: 30%;
  height: 10vh;
  text-align: left;
  padding: 10px;
}

.tabela2 input {
  width: 70%;
  height: 100%;
  border-bottom: 1px solid var(--font_color);
  background-color: var(--back_color);
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 10px;
  color: var(--font_color);
}
.feito_itr {
  height: 10vh;
  width: 5vw;
  margin-top: 7%;
  margin-right: 2%;
  float: right;
  cursor: pointer;
}
/*AJUSTES DOS BOTOES DE DUVIDAS*/

.duvida {
  background-image: url("../../images/request\ \(1\).png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
